* {
    background-image: none;
    font-family: "FiraCode Nerd Font", monospace;
}

window {
    background-color: rgba(13, 14, 21, 0.8); /* Dunkel & transparent */
}

button {
    color: #cdd6f4;
    background-color: #1e1e2e;
    border: 2px solid #313244;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:focus, button:active, button:hover {
    background-color: #ff007c; /* Garuda Pink beim Hover */
    border-color: #ff007c;
    color: #1e1e2e;
    outline-style: none;
    animation: gradient_f 20s ease-in infinite;
    background-size: 30%; /* Icon wird größer */
}

/* Icons zuweisen (wlogout sucht standardmäßig in /usr/share/wlogout/icons) */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
